/* RESET */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

body {
  line-height: 1.5;
  font-weight: 300;
  font-size: 16px;
  color: hsl(0, 0%, 100%);
  max-height: 100vh;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}


/* header styles */

.container-header {
  display: flex;
  color: black;
  margin-top: 1.8%;
  margin-left: 2.2em;
  margin-right: 2.2em;
  vertical-align: middle;
  z-index: 99;
}

.logo-icon {
  object-fit: cover;
  width: 1.5rem;
  transform: scale(3);
  margin-left: 20px;
  filter: grayscale(100%);
}

.fa-bars {
  z-index: 99;
  cursor: pointer;
  position: relative;
}

.fa-search {
  margin-left: 8em;
}

.search-login {
  margin-left: auto;
}

.login {
  margin-left: 2.2em;
}

.logo-icon,
.fa-bars,
.fa-search,
.login {
  cursor: pointer;
}

/* LANDING STYLES */

.container-landing {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
  height: 80vh;
  margin: 2% 0 0 10%;
}

.landing-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/Best-Anime-2020-39.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  max-width: 100%;
  height: 100%;
}

.landing-overlay {
  height: 100vh;
  width: 40%;
  margin-top: -6.1%;
  margin-left: 45%;
  background-color: #faed26;
  opacity: 0.5;
}

.subscribe {
  margin-top: -25%;
  margin-left: -3.6%;
  color: white;
  text-decoration: none;
  background-color: rgb(195, 7, 63, 0.8);
  width: max-content;
  padding: 0.6em 1.8em;
  opacity: 0.9;
  text-transform: uppercase;
  overflow-y: hidden;
  box-shadow: 0 0 2.5px hsl(0, 0%, 100%),
    0 5px 10px hsla(0, 0%, 0%, 0.8),
    0 5px 10px hsla(0, 0%, 0%, 0.8);
  transition: 0.5s;
}

.subscribe:hover {
  transform: rotateY(0deg) skewY(-20deg);
}

h1 {
  display: flex;
  font-family: 'Spectral SC', serif;
  font-size: 10vw;
  z-index: 20;
  color: #c3073f;
  letter-spacing: 10vw;
  margin-top: -30%;
  margin-left: -3.8%;
  max-width: max-content;
  opacity: 0.9;
  overflow-y: hidden;
}

h1::after {
  content: "X";
  color: white;
  animation: spinHorizontal 3s infinite linear;
  letter-spacing: 0vw;
}

/* @keyframes spinHorizontal {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
} */


/* FOOTER STYLES */

.container-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 0 0 0;
  margin-left: 10%;
  color: black;
}

.container-footer>div:nth-child(1) {
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
  text-transform: uppercase;
}

.container-footer>div:nth-child(2) {
  display: flex;
  flex-grow: 1;
  font-family: 'Monsieur La Doulaise', cursive;
  font-size: 1.2rem;
  margin-left: -210px;
}

.container-footer>div:nth-child(3) {
  display: flex;
  justify-content: flex-end;
}

.cover-icon {
  object-fit: cover;
  width: 1rem;
  transition: all .2s ease-in-out;
  margin-right: 1.5em;
  margin-left: 0.2em;
  filter: grayscale(100%);
}

.cover-icon:hover {
  transform: scale(2);
}

.footer-blog,
.footer-about,
.footer-ying {
  margin-right: 2em;
}

.footer-blog,
.footer-about,
.footer-contact {
  cursor: pointer;
}